# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Environment
.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Frontend
node_modules/
build/
dist/
.DS_Store

# Uploads
uploads/
*.jpg
*.png
*.jpeg
*.gif
